<div class="container d-flex justify-content-center align-items-center flex-column" style="min-height: 100vh;">
    <p>solicitud de servicio</p>
    <form class="mt-4 w-50">
      <div class="mb-3">
        <label for="exampleInputName" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="exampleInputName">
      </div>
      <div class="mb-3">
        <label for="exampleInputLastname" class="form-label">Apellido</label>
       <input type="text" class="form-control" id="exampleInputLastname">
     </div>
     <div class="mb-3">
        <label for="exampleInputEmail" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="exampleInputEmail">
      </div>
      <div class="mb-3">
        <label for="exampleInputPhone" class="form-label">Teléfono</label>
       <input type="tel" class="form-control" id="exampleInputPhone">
     </div>
     <div class="mb-3">
       <label for="aria-expanded">Mensaje</label>
       <input type="text" class="form-control" id="exampleinputmessage">
     </div>
 
     <button type="submit" class="btn btn-primary">Enviar</button>
     <p>
   </form>
 </div>