<div class="container d-flex justify-content-center align-items-center flex-column" style="min-height: 100vh;">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1891.9906572338566!2d-70.29162561570871!3d-18.484505567912716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915aa9cba1aa253b%3A0x5195e912a5a7a04!2sLas%20Acacias%2C%201021983%20Arica%2C%20Arica%20y%20Parinacota!5e0!3m2!1ses!2scl!4v1730986525485!5m2!1ses!2scl"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  
   <form class="mt-4 w-50">
     <div class="mb-3">
       <label for="exampleInputName" class="form-label">Nombre</label>
       <input type="text" class="form-control" id="exampleInputName">
     </div>
     <div class="mb-3">
       <label for="exampleInputLastname" class="form-label">Apellido</label>
      <input type="text" class="form-control" id="exampleInputLastname">
    </div>
    <div class="mb-3">
       <label for="exampleInputEmail" class="form-label">Correo electrónico</label>
       <input type="email" class="form-control" id="exampleInputEmail">
     </div>
     <div class="mb-3">
       <label for="exampleInputPhone" class="form-label">Teléfono</label>
      <input type="tel" class="form-control" id="exampleInputPhone">
    </div>
    <div class="mb-3">
      <label for="aria-expanded">Mensaje</label>
      <input type="text" class="form-control" id="exampleinputmessage">
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
    <p>
  </form>
</div>
  